.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.361);

  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.modal-body {
  width: 50%;
  border-radius: 15px;
  background-color: #1d1d1d;
  color: purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
}
